body {
    background-color: #F1F1F1;
}

.ws {
    z-index: 90;
    width: 100%;
    height: 100px;
    background-color: white;
}

.linkOutTitle {
    font-weight: bold;
    transition-property: color;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    color: black;
}

.linkOutTitle:hover {
    text-decoration: none;
    color: #ee394e;
}

.linkOut {
    transition-property: text-decoration;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    color: black;
}

.linkOut:hover {
    text-decoration: underline;
    color: black;
}

.firaRed {
    font-family: 'Fira Code', monospace;
    color: #ee394e;
}

.lobsterRed {
    font-family: 'Lobster', cursive;
    color: #ee394e;
    text-shadow: 10px black;
    font-size: 90px;
    margin-bottom: -30px;
}

.truncate {
  width: 100%;
  height: 130px;
  overflow: hidden;
  word-break: break-word;
  /*text-overflow: ellipsis;*/
}

.boxShadow {
    box-shadow: 5px 5px 5px grey;
}

/* Header */
#head {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#logo {
    width: 300px;
    height: 300px;
    background-image: url('/static/images/ott_logo.png');
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Latest Reviews */

#lrSect {
    background-color: white;
    width: 100%;
    height: 700px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#lrCon {
    width: 100%;
    height: 60%;
    
}

#lrCardsCon {
    /*border: 1px black solid;*/
    width: 80%;
    height: 600px;
    
    display: flex;
    justify-content: space-around;
    margin-left: 50%;
    transform: translateX(-50%);
    
}

/* Search For Albums */
#sfaSect {
    z-index: 90;
    background-color: white;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
}

#sfaConsole {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#sfaTitleCon {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: -30px;
}

#console {
    flex: 3;
    padding-left: 50px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.heightForm {
    height: 50px;
}

.cardNick {
    font-style: italic;
    font-size: .7em;
}

.plus {
  background-color : #ee394e;
  color: white;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  font-size: 2em;
  z-index: 100;
}

#mybutton {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 100;
}

.plus:hover {
    cursor: pointer;
}