body {
    background-color: #F1F1F1;
}

/* Header */
#head {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}


#logo {
    width: 200px;
    height: 200px;
    background-image: url('/static/images/ott_logo.png');
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Latest Reviews */

#lrSect {
    background-color: white;
    width: 100%;
    height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#lrCon {
    width: 100%;
    height: 100%;
}

.firaRed {
    font-family: 'Fira Code', monospace;
    color: #ee394e;
}

#lrCardsCon {
    border: 1px black solid;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: space-around;
}