<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- CSS -->
    <link rel="stylesheet" href="/static/ar.style.css" type="text/css" />
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
    
    <title>Edit Review</title>
  </head>
  <body>
    
    <!-- Album Add -->
    <section class='container' id='arSect'>
        <div class='ws2'></div>
        <div id='formCon'>
          <div>
            <h2 class='lobsterWhite'>Edit Your Review</h2>
          </div>
          
          <form method='POST'>
            
            <!-- Select The Album -->
            <select class="form-control mb-2" name='albumID'>
              <option value='{{ review['albumID'] }}' selected>{{ review['albumName'] }}</option>
            </select>
            
            <!-- Add your Name -->
            <input class="form-control fontSizeUp mb-2" name="nick" placeholder="What Is Your Name?" value="{{ review['nick'] }}">
            
            <!-- Add your Review -->
            <textarea class="form-control mb-2" name="review" rows="3" placeholder="What Do You Have To Say?">{{ review['review'] }}</textarea>
            
            <input class="btn btn-outline-light btn-lg btn-block mb-3" type='submit' value='Done'/>
            
            <!-- Go To Add an Album -->
            <a class='linkOut' href='/albums/add'>Don't See Your Album?</a>
          </form>
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>