<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- CSS -->
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    
    <title>Only The Truth</title>
  </head>
  <body>
    
    <!-- Plus Button -->
    <a id="mybutton" href='/reviews/add'>
      <button class="plus" href='/reviews/add'>
        +
      </button>
    </a>
    
    <!-- Header -->
    <header class='container' id='head'>
      <div id='logo'></div>
    </header>
    
    <!-- Latest Reviews -->
    <section id='lrSect'>
      <div class='container' id='lrCon'>
        <h6 class='firaRed mb-5'>- 01 LATEST REVIEWS</h6>
        <div id='lrCardsCon'>
          
          <!-- Card Template -->
          {% for each in results %}
          <div class="card boxShadow" style="width: 18rem;">
            <img class="card-img-top" src="{{each['albumArt']}}" alt="Card image cap">
            <div class="card-body">
              <a class="card-title linkOutTitle" href='/tracks/{{each['albumID']}}'>
                {{each['albumName']}}
              </a>
              <a href='/reviews/read/{{each['albumID']}}'>
                <p class="card-text truncate linkOut">{{each['review']}}</p><p>...</p>
              </a>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item cardNick firaRed">BY // {{each['nick']}}</li>
            </ul>
          </div>
          {%endfor%}

        </div>
      </div>
    </section>
    
    <section id='sfaSect'>
      <div id='sfaConsole' class='container'>
        <div id='sfaTitleCon'>
          <div class='left'>
            <h1 class='lobsterRed'>Search</h1>
          </div>
          <div class='right'>
            <h1 class='lobsterRed'>For</h1>
          </div>
          <div class='left'>
            <h1 class='lobsterRed'>Albums</h1>
          </div>
          
        </div>
        <div id='console' class='container'>
          <form method='POST'>
            <input class="mb-2 heightForm form-control form-control-lg" type="text" placeholder="Album Name" name="albumName">
            <input class="mb-2 heightForm form-control" type="text" placeholder="Artist Name" name="artistName">
            <input class="btn btn-outline-danger btn-lg btn-block mb-3" type='submit' value='Search'/>
          </form>
        </div>
      </div>
    </section>

    <div class='ws'></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>