<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- CSS -->
    <link rel="stylesheet" href="/static/rr.style.css" type="text/css" />
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
    
    <title>{{album['albumName']}} By {{reviewCursor['nick']}}</title>
  </head>
  <body id='rr'>
    
    <!-- Header -->
    <header class='container' id='head'>
      <div id='logo'></div>
    </header>
    
    <!-- Album Review -->
    <section class='container' id='arSect'>
        <h6 class='fjallaBlack mb-5'>{{album['albumName']}}</h6>
        <p class='articleFont'><i>
          {{ album['albumDescription'] }}
        </i>
        </p>
        <img class='mt-4 mb-5' id='aaReviews' src="{{ album['albumArt'] }}"></img>
        
        {%for each in reviewCursor%}
        <p class='fjallaBlackSub'>By: {{ each['nick'] }}</p>
        <p class='articleFont'>
          {{each['review']}}
        </p>
        
        <p class='signature'>Only the truth</p>
        <!--<p class='signature negativemt'>{{each['nick']}}</p>-->
        <a href='/reviews/edit/{{each['reviewID']}}'>Edit Or Delete</a>
        <div class='ws'></div>
        {%endfor%}
        
    </section>
    
    <div class='ws'></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>